{% load common_tags %}

{% for child in childs %}
<ul>
    <li>
        {% if child.url == path %}
            <a href="/{{ child.url }}/"><b>{{ child.name }}</b></a>
            {% get_child_nodes_stop child %}
        {% elif child.url != path %}
            {% if child in parents %}
                <a href="/{{ child.url }}/">{{ child.name }}</a>
            {% endif %}
            {% get_child_nodes child %}
        {% endif %}
    </li>
</ul>
{% endfor %}




{% for parents in node_target.ancestors %}
<ul>
    <li><a href="/{{ parents.url }}/"><b>{{ parents.name }}</b></a></li>
</ul>
{% endfor %}

<ul>
    <li><a href="/{{ node_target.url }}/"><b>{{ node_target.name }}</b></a></li>
</ul>

{% for child in node_target.children.with_tree_fields %}
<ul>
    <li><a href="/{{ child.url }}/"><b>{{ child.name }}</b></a></li>
</ul>
{% endfor %}